<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ml.pritimainkar.afinal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Feeder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".qrCode"
            android:label="Payment Details" />
        <activity android:name=".MapActivity" />
        <activity android:name=".beVolunteer" />
        <activity
            android:name=".contactus"
            android:label="Contact" />
        <activity android:name=".sorted" />
        <activity android:name=".aboutus" />
        <activity android:name=".VolunteerList" />
        <activity android:name=".map_activity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdYl5sPMCD1GC_A4yZsogPLoQo2lv9jSQ" />

        <activity
            android:name=".MainActivity"
            android:label="Feeder"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>